<!DOCTYPE html>
<html>
    <head>
        <title><%= title %> - Desktop</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="./css/common.css" />
        <link rel="stylesheet" type="text/css" href="./css/desktop.css" />
    </head>
    <body>
        <span id="forkongithub"><a href="https://github.com/topheman/playground2" target="_blank">Fork me on GitHub</a></span>
        <div id="explanation">
            <p><%- imgQrCode %><a href="./">Home page</a></p>
            <p><strong>Snap this QR-Code with your smartphone</strong> and <strong>get control of the ball</strong> which is on your desktop computer from your mobile device !</p>
            <p>You can connect with <strong>multiple devices</strong>.</p>
            <p>Here is the url to connect if you can't read the QR-Code : <br><strong><%= mobileUrl %></strong></p>
            <p>If you wan't to test with the <strong>desktop accelerometer emulator</strong>, <a href="./mobile" title="Test playground with the accelerometer emulator" id="emulator-test-anchor">click here</a></p>
        </div>
        <div style="clear:both"></div>
        <canvas id="playground" width="<%= stage.width %>" height="<%= stage.height %>"></canvas>
        <div>
            <div id="tweet-this-link">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://github.com/topheman/playground2" data-text="#HTML5 #JavaScript #nodejs Topheman Playground" data-via="topheman" data-lang="fr" data-size="large" data-count="none">Tweeter</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <h2>Gyro infos</h2>
            <ul id="messages"></ul>
            <ul id="infos"></ul>
            <ul id="errors"></ul>
        </div>
        <div id="chat-wrapper" class="close">
            <div class="chat-header">
                <div>Chat box <span class="persons">(2 users)</span></div>
            </div>
            <div class="chat-box">
                <ul id="chat-desktop-list">
                    <li>Anonymous</li>
                    <li>Anonymous</li>
                    <li>Anonymous</li>
                    <li>Anonymous</li>
                </ul>
                <div id="chat-messages"></div>
                <div id="chat-inputs"><input type="text" placeholder="Anonymous" name="name" class="name" id="input-name"><input type="text" placeholder="Your message ..." name="message" class="message" id="input-message"></div>
            </div>
        </div>
        <div style="clear:both"></div>
        <footer id="footer">
            <p>© 2012 - 2013 <a href="https://github.com/topheman/playground2">Topheman Playground</a> - Christophe Rosset - more on <a href="http://labs.topheman.com/" title="All my projects on labs.topheman.com">labs.topheman.com</a></p>
        </footer>
        <script src="./js/vendor/require.js" type="text/javascript"></script>
        <script type="text/javascript">
            require(['./js/require.config'], function(config) {
                require(['custom/desktop',"/socket.io/socket.io.js"], function(desktop) {
                    desktop.init();
                });
            });
        </script>
    </body>
</html>
